---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import Linkedin from '../icons/Social/Linkedin.astro'
import Github from '../icons/Social/Github.astro'
import Social_icons from '../components/Social_icons.astro'
import Gmail from '../icons/Social/Gmail.astro'
import Section from '../components/Section.astro';
import Section_tecno from '../components/Section_techno.astro';
import Technologies from '../components/Technologies.astro';
import Code from '../icons/Titles/Code.astro'
import Projects from '../components/Projects.astro'
import Certificates from '../components/Certificates.astro'
import About_me from '../components/About_me.astro'
import Cert_icon from '../icons/Titles/Cert_icon.astro'
import Me_icons from '../icons/Titles/Me_icon.astro'
import Section_about_me from '../components/Section_about_me.astro'
import Footer from '../components/Footer.astro'
import Discord from '../icons/Social/Discord.astro'
import Section_certificates from '../components/Section_certificates.astro';
---

<Layout 
	title="Kripal's Portfolio - Full-Stack Web Application Developer"
	description="I strive to continuously enhance my skills by working on innovative projects, leveraging my expertise in web development and e-commerce, while exploring emerging technologies like blockchain and AI to deliver impactful and efficient solutions.">
	
	<main class="px-4">
		<Section>
			<img 
				class="rounded-full w-20 h-15 mb-4" 
				src="/images/profile.jpg" 
				alt="Kripal"
			/> 
			
			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-5 pb-6 lg:pb-10">
				Hi, I'm Kripal 
				<a href="https://www.linkedin.com/in/kripalsth" target="_blank" rel="noopener"> 
					<div class="flex justify-center items-center hover:scale-110 transition">
						<Badge> Open To Work </Badge>
					</div>
				<a/>
			</h1>

			<h2 class="text-xl lg:text-2xl opacity-80 text-pretty max-w-{700px}">
				<span class="text-blue-300">Full-Stack Web Application Developer</span> 
				<br>I’m a software developer based in Ontario, Canada, passionate about technology and dedicated to continuous learning and improvement. My goal is to contribute to innovative projects that challenge me, enhance my expertise, and enable me to create impactful and creative solutions.
			</h2>
			
			<nav class="flex gap-x-5 mt-6 flex-wrap">
				<Social_icons href="https://www.linkedin.com/in/kripalsth">
					<Linkedin class="size-4 md:size-6"/>
					LinkedIn
				</Social_icons>
				<Social_icons href="https://github.com/kripals">
					<Github class="size-4 md:size-6"/>
					GitHub
				</Social_icons>
				<Social_icons href="mailto:kripalshtha@gmail.com">
					<Gmail class="size-4 md:size-6"/>
					kripalshtha@gmail.com
				</Social_icons>
				<Social_icons href="https://discord.com/users/222491467275436033">
					<Discord class="size-4 md:size-6"/>
					Discord
				</Social_icons>
			</nav>
		</Section>

		<Section_tecno id="technologies">
			<Technologies/>
		</Section_tecno>

		<Section id="projects">
			<div class="flex justify-center">
				<h2 class="text-4xl font-semibold pb-10 flex gap-x-3 items-center text-center mb-4"> <Code class="size-8 "/>Projects </h2>
			</div>
			<Projects/>
		</Section>
		
		<!-- <Section_certificates id="certificates">
			<div class="flex justify-center">
				<h2 class="text-4xl font-semibold pb-10 flex gap-x-3 items-center text-center mb-4"> <Cert_icon class="size-8 "/>Certificates </h2>
			</div>
			<Certificates/>
		</Section_certificates> -->
		
		<Section_about_me id="about_me">
			<div class="flex justify-center">
				<h2 class="text-4xl font-semibold pb-10 flex gap-x-3 items-center text-center mb-4"> <Me_icons class="size-8 "/>About Me </h2>
			</div>
			<About_me/>
		</Section_about_me>
		
		<Footer/>
	</main>
</Layout>