<section class="flex flex-col md:flex-row gap-x-8 justify-center items-center">
    <div class="[&>p]:mb-4 [&>p>strong]:text-blue-300 [&>p>strong]:font-semibold text-pretty">
        <p>
            Hi, I’m Kripal Shrestha, a software developer based in Ontario, Canada. I’m passionate about creating impactful digital solutions and constantly exploring new technologies to push the boundaries of what’s possible.
        </p>
        
        <p>
            My focus is on continuous learning and growth, tackling innovative projects that challenge me to think creatively and refine my skills as a developer.
        </p>
        
        <p>
            I have a keen interest in emerging fields like blockchain and AI, along with a growing fascination for game development. In my spare time, I dive into tools like Unity and Godot, expanding my horizons and experimenting with creative ideas.
        </p>
    
        <p class="text-pretty">
            As a <strong>Full-Stack</strong> developer, I’m committed to staying updated with the latest trends, building robust applications, and delivering exceptional results. Every project is an opportunity to learn, grow, and make a difference.
        </p>
    </div>
    <img src="https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExNHY5M3prNjdmdXV0YmVtMmlxNGNtc3pwNXplOGViMXl0cGFuc3JuNyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/fc4CgGnZOktRm/giphy.gif" alt="me" class="rounded-full size-64">
    </section>