<div class="container px-5 py-6 mx-auto">
    <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-800 sm:flex-row flex-col">
        <img src="https://desafiolatam.com/assets/images/home/logo-academia-ne.png" class="w-48 h-20 sm:mr-20 mb-4 sm:mb-0" alt="Desafio Latam Logo"/>
        <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
            <h2 class="text-white text-2xl mb-2 font-bold">GitHub</h2>
            <p class="text-xl mb-2 font-semibold">Desafio Latam Course.</p>
            <p class="leading-relaxed text-base">This course covered creating and managing repositories, version control, and publishing with GitHub Pages. It also included collaborative workflows using Git.</p>
            <a href="https://cursos.desafiolatam.com/certificates/2bzutwrvbv" target="_blank" class="mt-3 text-indigo-400 inline-flex items-center">View Certificate</a>
        </div>
    </div>

    <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-800 sm:flex-row flex-col">
        <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
            <h2 class="text-white text-2xl mb-2 font-bold">Introduction to Web Programming</h2>
            <p class="text-xl mb-2 font-semibold">Desafio Latam Course.</p>
            <p class="leading-relaxed text-base">This course provided an introduction to HTML and CSS, teaching how to structure and style web pages. It also covered Flexbox, Bootstrap, Git, and GitHub, along with version control and project publishing.</p>
            <a href="https://cursos.desafiolatam.com/certificates/sz61enwcrg" target="_blank" class="mt-3 text-indigo-400 inline-flex items-center">View Certificate</a>
        </div>
        <img src="https://desafiolatam.com/assets/images/home/logo-academia-ne.png" class="w-48 h-20 sm:ml-20 mb-4 sm:mb-0" alt="Desafio Latam Logo"/>
    </div>

    <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-800 sm:flex-row flex-col">
        <img src="https://desafiolatam.com/assets/images/home/logo-academia-ne.png" class="w-48 h-20 sm:mr-20 mb-4 sm:mb-0" alt="Desafio Latam Logo"/>
        <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
            <h2 class="text-white text-2xl mb-2 font-bold">Interactive SQL</h2>
            <p class="text-xl mb-2 font-semibold">Desafio Latam Course.</p>
            <p class="leading-relaxed text-base">This course introduced basic SQL concepts such as databases, tables, and queries. It included data manipulation, joins, relationships, aggregate functions, subqueries, table management, and data integrity constraints.</p>
            <a href="https://www.tutorialesinteractivos.com/certificados/a5b3f840-934b-46cf-b210-e00d8b3b875e" target="_blank" class="mt-3 text-indigo-400 inline-flex items-center">View Certificate</a>
        </div>
    </div>

    <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-800 sm:flex-row flex-col">
        <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
            <h2 class="text-white text-2xl mb-2 font-bold">Cybersecurity</h2>
            <p class="text-xl mb-2 font-semibold">Cisco Networking Academy Course.</p>
            <p class="leading-relaxed text-base">This course provided foundational knowledge of cybersecurity, exploring the global implications of cyber threats, vulnerability detection and defense, and career opportunities in the cybersecurity field.</p>
            <a href="https://www.credly.com/badges/41aafd94-7623-4b21-b94e-c5436b50cfae/public_url" target="_blank" class="mt-3 text-indigo-400 inline-flex items-center">View Certificate</a>
        </div>
        <img src="https://skillsforall.com/sfa-assets/images/svg/netacad_logo_black.svg" class="w-48 h-20 sm:ml-20 mb-4 sm:mb-0" alt="Cisco Logo"/>
    </div>

    <div class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-800 sm:flex-row flex-col">
        <img src="https://skillsforall.com/sfa-assets/images/svg/netacad_logo_black.svg" class="w-48 h-20 sm:mr-20 mb-4 sm:mb-0" alt="Cisco Logo"/>
        <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
            <h2 class="text-white text-2xl mb-2 font-bold">English for IT</h2>
            <p class="text-xl mb-2 font-semibold">Cisco Networking Academy Course.</p>
            <p class="leading-relaxed text-base">This course focused on the correct use of complex grammatical concepts and terms related to information security, job roles, customer support, user experience, fraudulent calls, and network and software engineering.</p>
            <a href="https://www.credly.com/badges/964b77c8-142b-467b-87a5-0eed7084f6cd/public_url" target="_blank" class="mt-3 text-indigo-400 inline-flex items-center">View Certificate</a>
        </div>
    </div>
</div>