---
import Technos_icons from "./Technos_icons.astro";
import Html from '../icons/Technologies/Languages/Html.astro';
import Css from '../icons/Technologies/Languages/Css.astro';
import Python from '../icons/Technologies/Languages/Python.astro';
import Js from '../icons/Technologies/Languages/Js.astro';
import Php from '../icons/Technologies/Languages/Php.astro';
import Ast from '../icons/Technologies/Frameworks_Libraries/Ast.astro';
import Bootstrap from '../icons/Technologies/Frameworks_Libraries/Bootstrap.astro';
import Laravel from '../icons/Technologies/Frameworks_Libraries/Laravel.astro';
import Vuejs from '../icons/Technologies/Frameworks_Libraries/Vuejs.astro';
import Node from '../icons/Technologies/Frameworks_Libraries/Node.astro';
import React from '../icons/Technologies/Frameworks_Libraries/React.astro';
import Tailwind from '../icons/Technologies/Frameworks_Libraries/Tailwind.astro';
import Mongo from '../icons/Technologies/Databases/Mongo.astro';
import Mysql from '../icons/Technologies/Databases/Mysql.astro';
import Oracle from '../icons/Technologies/Databases/Oracle.astro';
import Postgresql from '../icons/Technologies/Databases/Postgresql.astro';
import Sqlite from '../icons/Technologies/Databases/Sqlite.astro';
import Figma from '../icons/Technologies/Additional_Tools/Figma.astro';
import Git from '../icons/Technologies/Devops/Git.astro';
import Netlify from '../icons/Technologies/Additional_Tools/Netlify.astro';
import Vercel from '../icons/Technologies/Additional_Tools/Vercel.astro';
import Notion from '../icons/Technologies/Additional_Tools/Notion.astro';
import Solidity from "../icons/Technologies/Languages/Solidity.astro";
import Jquery from "../icons/Technologies/Frameworks_Libraries/Jquery.astro";
import Csharp from "../icons/Technologies/Languages/Csharp.astro";
import Angular from "../icons/Technologies/Frameworks_Libraries/Angular.astro";
import DotNet from "../icons/Technologies/Frameworks_Libraries/DotNet.astro";
import Mariadb from '../icons/Technologies/Databases/Mariadb.astro';
import Docker from '../icons/Technologies/Devops/Docker.astro';
import Aws from '../icons/Technologies/Devops/Aws.astro';
import Azure from '../icons/Technologies/Devops/Azure.astro';
import GitCICD from '../icons/Technologies/Devops/Gitcicd.astro';
import Blockchain from '../icons/Technologies/Stack/Blockchain.astro';
import PowerBI from '../icons/Technologies/Bitool/Powerbi.astro';
import Tableau from '../icons/Technologies/Bitool/Tableau.astro';
import Linux from '../icons/Technologies/Additional_Tools/Linux.astro';
import Wordpress from '../icons/Technologies/Additional_Tools/Wordpress.astro';
import Magento from '../icons/Technologies/Additional_Tools/Magento.astro';
import Codeigniter from "../icons/Technologies/Frameworks_Libraries/Codeigniter.astro";
import Techno_icon from '../icons/Titles/Techno_icon.astro';
import Microservice from "../icons/Technologies/Stack/Microservice.astro";
import RestApi from "../icons/Technologies/Stack/RestApi.astro";
---

<div class="flex flex-col items-center">
  <h2 class="text-4xl font-semibold pb-10 flex gap-x-3 items-center text-center mb-4">
    <Techno_icon class="w-12 h-12" /> Technologies
  </h2>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 md:gap-12 p-4">
    <div>
      <h2 class="text-2xl opacity-80 mb-6 text-center">Languages</h2>
      <nav class="flex flex-wrap justify-center gap-4">
        <Technos_icons title="HTML"><Html class="w-12 h-12" /></Technos_icons>
        <Technos_icons title="CSS"><Css class="w-12 h-12" /></Technos_icons>
        <Technos_icons title="JavaScript"><Js class="w-12 h-12" /></Technos_icons>
        <Technos_icons title="PHP"><Php class="w-12 h-12" /></Technos_icons>
        <Technos_icons title="Python"><Python class="w-12 h-12" /></Technos_icons>
        <Technos_icons title="Csharp"><Csharp class="w-12 h-12" /></Technos_icons>
        <Technos_icons title="Solidity"><Solidity class="w-12 h-12" /></Technos_icons>
      </nav>
      <h2 class="text-2xl opacity-80 mt-8 mb-6 text-center">Frameworks and Libraries</h2>
      <nav class="flex flex-wrap justify-center gap-4">
        <Technos_icons title="Laravel"><Laravel class="w-12 h-12" /></Technos_icons>
        <Technos_icons title="Vue.js"><Vuejs class="w-12 h-12" /></Technos_icons>
        <Technos_icons title="Astro"><Ast class="w-12 h-12" /></Technos_icons>
        <Technos_icons title="CodeIgniter"><Codeigniter class="w-12 h-12" /></Technos_icons>
        <Technos_icons title="Bootstrap"><Bootstrap class="w-12 h-12" /></Technos_icons>
        <Technos_icons title="Node.js"><Node class="w-12 h-12" /></Technos_icons>
        <Technos_icons title="React"><React class="w-12 h-12" /></Technos_icons>
        <Technos_icons title="Tailwind CSS"><Tailwind class="w-12 h-12" /></Technos_icons>
        <Technos_icons title="jQuery"><Jquery class="w-12 h-12" /></Technos_icons>
        <Technos_icons title="Angular"><Angular class="w-12 h-12" /></Technos_icons>
        <Technos_icons title=".Net"><DotNet class="w-12 h-12" /></Technos_icons>
        <Technos_icons title="WordPress"><Wordpress class="w-12 h-12" /></Technos_icons>
        <Technos_icons title="Magento 2"><Magento class="w-12 h-12" /></Technos_icons>
      </nav>
      <h2 class="text-2xl opacity-80 mb-6 text-center">Databases</h2>
      <nav class="flex flex-wrap justify-center gap-4">
        <Technos_icons title="MongoDB"><Mongo class="w-12 h-12" /></Technos_icons>
        <Technos_icons title="MySQL"><Mysql class="w-12 h-12" /></Technos_icons>
        <Technos_icons title="Oracle"><Oracle class="w-12 h-12" /></Technos_icons>
        <Technos_icons title="Postgresql"><Postgresql class="w-12 h-12" /></Technos_icons>
        <Technos_icons title="Sqlite"><Sqlite class="w-12 h-12" /></Technos_icons>
        <Technos_icons title="MariaDB"><Mariadb class="w-12 h-12" /></Technos_icons>
      </nav>
    </div>
    
    <div>
      <h2 class="text-2xl opacity-80 mt-8 mb-6 text-center">DevOps and Tools</h2>
      <nav class="flex flex-wrap justify-center gap-4">
        <Technos_icons title="Git"><Git class="w-12 h-12" /></Technos_icons>
        <Technos_icons title="Docker"><Docker class="w-12 h-12" /></Technos_icons>
        <Technos_icons title="AWS"><Aws class="w-12 h-12" /></Technos_icons>
        <Technos_icons title="Azure"><Azure class="w-12 h-12" /></Technos_icons>
        <Technos_icons title="Git CI/CD Pipelines"><GitCICD class="w-12 h-12" /></Technos_icons>
      </nav>
      <h2 class="text-2xl opacity-80 mt-8 mb-6 text-center">Technology Stacks</h2>
      <nav class="flex flex-wrap justify-center gap-4">
        <Technos_icons title="Blockchain"><Blockchain class="w-12 h-12" /></Technos_icons>
        <Technos_icons title="Microservice"><Microservice class="w-12 h-12" /></Technos_icons>
        <Technos_icons title="RestApi"><RestApi class="w-12 h-12" /></Technos_icons>
      </nav>
      <h2 class="text-2xl opacity-80 mt-8 mb-6 text-center">BI Tools</h2>
      <nav class="flex flex-wrap justify-center gap-4">
        <Technos_icons title="Power BI"><PowerBI class="w-12 h-12" /></Technos_icons>
        <Technos_icons title="Tableau"><Tableau class="w-12 h-12" /></Technos_icons>
      </nav>
      <h2 class="text-2xl opacity-80 mt-8 mb-6 text-center">Additional Tools</h2>
      <nav class="flex flex-wrap justify-center gap-4">
        <Technos_icons title="Linux"><Linux class="w-12 h-12" /></Technos_icons>
        <Technos_icons title="Figma"><Figma class="w-12 h-12" /></Technos_icons>
        <Technos_icons title="Netlify"><Netlify class="w-12 h-12" /></Technos_icons>
        <Technos_icons title="Vercel"><Vercel class="w-12 h-12" /></Technos_icons>
        <Technos_icons title="Notion"><Notion class="w-12 h-12" /></Technos_icons>
      </nav>
    </div>
  </div>
</div>